@import "../../styles/abstracts/variables";
@mixin glassmorphism-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px 24px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}

.chart-container {
  @include glassmorphism-card;

  border: 1px solid $border-color;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: $text-primary;
    margin-bottom: 5px;
  }

  .chart-subtitle {
    font-size: 0.875rem;
    color: $text-secondary;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .recharts-responsive-container {
    width: 100% !important;
    height: 100% !important;
  }
  .recharts-legend-item-text {
    color: $text-secondary !important;
  }
  .recharts-cartesian-axis-tick-value {
    fill: $text-secondary !important;
    font-size: 0.8rem;
  }
}
.custom-asset-tooltip {
  margin-bottom: 30px;
}
.recharts-wrapper,
.recharts-responsive-container {
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none !important;
  }
}
