@import "../abstracts/variables";

.detail-panel-container {
  h3 {
    margin-bottom: 20px;
  }
  .detail-list {
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;

    .list-item {
      display: flex;
      justify-content: space-between;
      padding: 12px 5px;
      border-bottom: 1px solid $border-color;
      border-radius: 8px;

      span {
        color: $text-secondary;
        padding-right: 10px;
        font-size: 0.9rem;
      }
      strong {
        color: $primary-color;
        font-weight: 600;
        white-space: nowrap;
      }
      &:last-child {
        border-bottom: none;
      }
      &.clickable {
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #75c8ff;
        }
      }
    }
  }
}

.detail-panel-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 300px;

  .placeholder-content {
    text-align: center;
    color: $text-secondary;

    svg {
      color: $border-color;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.95rem;
      max-width: 250px;
      margin: 0 auto;
      line-height: 1.5;
    }
  }
}
