@import "../../styles/abstracts/variables";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  background: $bg-secondary;
  padding: 25px 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  &.large {
    max-width: 800px;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: $text-secondary;
  }

  h3 {
    margin-top: 0;
    color: $text-primary;
  }

  .modal-chart-container {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-secondary;
    font-size: 0.9rem;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid $border-color;

    span {
      color: $text-secondary;
    }
    strong {
      color: $primary-color;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
