.map-page-container {
  width: 100%;
  height: calc(100vh - 4rem);
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.marker-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  span {
    font-size: 2rem; 
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
