@import "../styles/abstracts/variables";

.app-layout {
  display: flex;

  .main-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-left: $sidebar-width-collapsed;

    min-height: 100vh;

    transition: margin-left 0.3s ease;
  }

  .main-content {
    flex: 1;
    padding: 2rem;
    background-color: transparent;
    background-image: url("../../public/sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(102, 166, 255, 0.2);
    background-blend-mode: overlay;
  }
}
