


@import "./abstracts/variables";


@import "./base/reset"; 

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
  padding: 0;
}

.recharts-surface:focus {
  outline: none;
}


@import "./components/sidebar";
@import "./components/footer";
@import "./components/charts";
@import "./components/modal";
@import "./components/searchbar";
@import "./components/profile-panel";
@import "./components/asset-selector";
@import "./components/chart-filters";


@import "./pages/map-page";
