// src/styles/main.scss

// 1. Biến (Variables)
@import "./abstracts/variables";

// 2. Reset & Base
@import "./base/reset"; // Bạn có thể thêm file reset.scss (normalize.css)

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
  padding: 0;
}

.recharts-surface:focus {
  outline: none;
}

// 3. Import các component SASS
@import "./components/sidebar";
@import "./components/footer";
@import "./components/charts";
@import "./components/modal";
@import "./components/searchbar";
@import "./components/profile-panel";
@import "./components/asset-selector";
@import "./components/chart-filters";

// 4. Import các layout SASS
@import "./pages/map-page";
