@import "variables";
@import "../pages/Map/MapPage.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: $bg-light;
  color: $text-dark;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $primary-color;
}
