/* Mixin cho Flexbox căn giữa */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mixin cho tạo bóng (shadow) */
@mixin box-shadow-soft {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
